.Home-title {
  font-size: 20px;
}
.home-authenticate {
  font-size: 16px;
  margin-bottom: 20px;
}

.UserHeader {
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;
  margin-bottom: 10px;
}
